@font-face {
    font-family: "louis-george-cafe";
    src:
        url("fonts/louis_george_cafe-webfont.woff2") format("woff2"),
        url("fonts/louis_george_cafe-webfont.woff") format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

div,
h1,
span {
    font-family: "louis-george-cafe";
}
.container {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";

}

.header {
    background-color: #8192a9;
    grid-area: header;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top {
    border: 1px solid #d14444;
}

.header-bottom {
    border: 1px solid #ccc;
}

.sidebar {
    color: wheat;
    background-color: #6289d8;
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 1fr 8fr;
}

.side-heading {
    border: 1px solid #ccc;
}

.navigation {
    border: 1px solid #ccc;
}

.content {
    background-color: white;
    grid-area: content;
    display: grid;
    grid-template: 1fr 1fr / 7fr 3fr;
}

.announcements {
    border: 1px solid #ccc;
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    border: 1px solid #ccc;
    grid-area: 2 / 2 / 3 / 3;
}

.projects {
    border: 1px solid #ccc;
    grid-area: 1 / 1 / 3 / 2;

    background-color: peachpuff;
}


.icon img,
#header-logo {
    width: 34px; /* Set your desired width */
    height: auto; /* Maintain the aspect ratio */
    
}

.icon + span {
    font-size: 24px;
}

li,
.side-heading {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    gap: 16px;
}

 .nav-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* ul li:nth-child(n + 7) {
    
    color: #d14444;
} */

/* .nav-container li.settings,
.nav-container li.privacy,
.nav-container li.support  */

.nav-container li.settings {
    color: #d14444;
    margin-top: 100px;
}

.search-icon {
    width: 16px;
    height: auto;
}

.bell-icon {
    width: 20px;
}

.search-bar {
    width: 60%;
    height: 2em;
    border: none;
    border-radius: 14px;
}